#message {
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.button {
    padding: 20px;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    background: black;
    border: 1px solid black;
    text-decoration: none;
    margin: 20px;
}

.button:hover {
    background: white;
    color: black;
}